header {
    background: #F6F1F1;
    width: 100%;
    display: inline-flex;


}

header h1 {
    text-align: left;
    display: inline;
    margin-left: 5rem;

}

header input {
    width: 15rem;
    height: 2rem;
    margin-left: 50rem;
    margin-top: 1.2rem;
    display: inline;
}

header button {
    width: 5rem;
    margin-top: 1.2rem;
    height: 2.37rem;
}

body {
    color: #212A3E;
    margin: 0;
    background-color: #AFD3E2;
}

li a {
    font-size: 1.1rem;
    display: block;
    color: #AFD3E2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #0a71b2;
}

li a:hover {
    background-color: #AFD3E2;
}

#showlist {
    list-style-type: none;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article img {
    width: 100%;
    height: 320px;
}

li {
    width: 30%;
    box-sizing: border-box;
}
